._wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  bottom: -60px !important;
  height: 125px !important;
  left: 0px !important;
  right: 0px !important;
  padding-bottom: 60px !important;
  contain: paint !important;
  background: rgb(255, 255, 255) !important;
  transition: -ms-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s,
    -webkit-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s,
    transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s,
    visibility 0.2s ease 0s !important;

  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
  ._content {
    width: 100%;

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer !important;
      background-color: transparent !important;

      text-decoration: none !important;
      border: 0px !important;
      max-width: 20% !important;
      min-width: 0px !important;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
      overflow-wrap: break-word !important;
      hyphens: auto !important;
      padding: 0px 2px !important;

      font-size: 10px !important;
      line-height: 12px !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;

      font-weight: 600 !important;
      overflow-wrap: break-word !important;
      color: rgb(34, 34, 34) !important;
      svg {
        color: rgb(255, 56, 92) !important;
        margin-bottom: 5px;
      }
    }
  }
}
