._wrapper {
  margin-left: 35vw;
  margin-right: 35vw;

  @media screen and (max-width: 599px) {
    margin-left: 0;
    margin-right: 0;
  }
}
._title {
  margin-bottom: 10px;
}

._rating {
  display: flex;
}
._image {
  width: 500px;
  height: 500px;
  @media screen and (max-width: 599px) {
    width: 100vw;
    height: 100vw;
  }
}
