._wrapper {
  margin-top: -10px;
  height: 90px;
  width: 100%;
  z-index: 100;
  --header_brand-color: var(--ihf-tp-q);
  background-color: #fff;

  @media screen and (max-width: 599px) {
    margin-top: -25px;
    box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
    height: 74px;
  }
  ._content_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 78px;

    margin: 0 auto;
    max-width: var(--page-shell-max-content-width, 1440px);

    @media screen and (min-width: 300px) {
      padding-left: var(--ic-zlb-s);
      padding-right: var(--ic-zlb-s);
    }

    @media screen and (min-width: 744px) {
      padding-left: var(--f-fw-z-a-i);
      padding-right: var(--f-fw-z-a-i);
    }
    @media screen and (min-width: 950px) {
      padding-left: var(--f-fw-z-a-i);
      padding-right: var(--f-fw-z-a-i);
    }
    @media screen and (min-width: 1128px) {
      padding-left: var(--cy-o-aco);
      padding-right: var(--cy-o-aco);
    }

    @media screen and (min-width: 1440px) {
      padding-left: var(--cy-o-aco);
      padding-right: var(--cy-o-aco);
    }
  }
}
