._wrapper {
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8;
  background-color: var(--f-mkcy-f);
  border-top: 1px solid var(--j-qkgmf);
  padding-top: 13px;
  z-index: 999999;
  width: 100%;
  margin-top: 30px;
  margin-bottom: -30px;

  display: block;
  @media screen and (max-width: 768px) {
    margin-top: 30px;
    margin-bottom: -25px;
    padding-bottom: 0px;

    position: static;
    bottom: 0;
    width: 100%;

    display: block;
  }

  ._content {
    width: 81%;

    margin: 0 auto;
    max-width: var(--page-shell-max-content-width, 1440px);

    @media screen and (max-width: 599px) {
      width: 100%;
      margin-top: 5px;
    }
    @media screen and (min-width: 300px) {
      padding-left: var(--ic-zlb-s);
      padding-right: var(--ic-zlb-s);
    }

    @media screen and (min-width: 744px) {
      padding-left: var(--f-fw-z-a-i);
      padding-right: var(--f-fw-z-a-i);
    }
    @media screen and (min-width: 950px) {
      padding-left: var(--f-fw-z-a-i);
      padding-right: var(--f-fw-z-a-i);
    }
    @media screen and (min-width: 1128px) {
      padding-left: var(--cy-o-aco);
      padding-right: var(--cy-o-aco);
    }

    @media screen and (min-width: 1440px) {
      padding-left: var(--cy-o-aco);
      padding-right: var(--cy-o-aco);
    }

    .desktop_part {
      .footer_left_wrapper {
        .copyright_title {
          font-size: 14px;
          line-height: 18px;
          color: var(--f-k-smk-x);

          @media screen and (max-width: 599px) {
            font-size: 13px;
          }
        }
        ul {
          display: flex;
          align-items: center;
          cursor: pointer !important;
          li {
            color: #222222;
            font-size: 14px;
            line-height: 18px;
            margin: 0 5px;
            cursor: pointer;

            @media screen and (max-width: 599px) {
              font-size: 13px;
            }

            &:hover {
              text-decoration: underline !important;
            }
          }
        }
      }
      .footer_right_wrapper {
        ul {
          position: relative;

          display: flex;
          align-items: center;
          cursor: pointer !important;
          li {
            color: #222222;
            font-size: 14px;
            line-height: 18px;
            margin-left: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;

            &:hover {
              text-decoration: underline !important;
            }

            svg {
              margin-right: 3px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
