._wrapper {
  ._title {
    padding-top: 5px;
    white-space: nowrap;
    color: var(--bgxgx);
    font-size: var(--f-cv-j-j-p);
    line-height: var(--f-l-h-bac);
    font-weight: var(--jx-zk-pv);
    text-transform: capitalize;
  }
}
