.google_signup_wrapper {
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  .google_signup_button {
    margin-left: 8px;
    width: 550px;
    height: 50px;

    @media screen and (max-width: 599px) {
      width: 88vw;
      margin-right: 8px;
    }

    .google_logo_text {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: inherit;
      font-size: 14px;
      font-weight: 600;
      color: #000000;

      max-width: var(--page-shell-max-content-width, 1440px);
      @media screen and (min-width: 375px) {
        padding-left: var(--ic-zlb-s);
        padding-right: var(--ic-zlb-s);
      }
    }
    .google_logo {
      width: 25px;
      height: 25px;
      margin-bottom: -0.46rem;
    }
  }
}

.login_or_signup {
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.close_button {
  width: 20px;
  cursor: pointer;
}
